@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: 'Poppins', sans-serif;
  @apply text-gray-900;
}

html { @apply bg-blue-500; @apply bg-opacity-5; }

.bg-transparent-black {background: #00000044;}