<template>
  <div class="p-4">
    <div class="relative flex justify-between mb-4 text-white" style="z-index: 5;">
      <div>
        <button
          class="px-4 py-2 text-sm text-blue-400 bg-white rounded p2-4"
          title="Klik untuk menghapus data scan"
          @click="deleteScans">
          <fa-icon icon="trash" class="mr-2"/> Hapus
        </button>
      </div>
      <div>
        <div class="text-xs text-center text-white">Scans</div>
        <div
          class="flex items-center justify-center text-white bg-blue-300 border-2 border-white rounded-full w-14 h-14"
          :class="{'text-3xl': scans.length < 100, 'text-2xl': scans.length < 1000, 'text-base': scans.length >= 1000}">
          {{ fmt.number(scans.length) }}
        </div>
      </div>
      <div>
        <button
          class="px-4 py-2 text-sm text-blue-400 bg-white rounded p2-4"
          title="Klik untuk mengirim data scan"
          @click="saveScans">
          <fa-icon icon="paper-plane" class="mr-2"/> Kirim
        </button>
      </div>
    </div>

    <div class="absolute inset-x-4 top-16 bottom-44">
      <div class="h-full p-2 pt-4 pb-20 bg-white border rounded">
        <div class="flex flex-col-reverse h-full overflow-auto">
          <table>
            <tr v-for="(scan, index) in scans" :key="index" class="pl-2 ml-8">
              <td class="w-px px-1 text-right">{{ fmt.number(index+1) }}.</td>
              <td class="px-4 uppercase">{{ scan }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="absolute inset-x-8 bottom-48">
      <div
        class="h-12 p-2 mt-4 text-2xl text-center text-white truncate bg-blue-400 rounded"
        :class="{'invisible': !scans.length}">
        {{ scans[scans.length-1] ?? 1 }}
      </div>
    </div>

    <div class="absolute bottom-0 inset-x-4">
      <form class="my-4" @submit.prevent="enterCode">
        <input
          ref="textScan"
          v-model.trim="textScan"
          class="block w-full p-4 border"
          placeholder="Kode Barang"
          autofocus
          @blur="textScanOnBlur">
      </form>

      <div class="flex text-xl bg-white border rounded-full">
        <div class="flex-1 border-r rounded-l-full btn-undo hover:bg-blue-50">
          <button
            class="w-full py-4 text-blue-400 rounded-l-full focus-visible:ring-2 focus-visible:ring-blue-400 focus:outline-none"
            @click="undo">
            <fa-icon icon="undo" size="lg"/>
            <span class="px-4">
              Undo
            </span>
          </button>
        </div>
        <div class="flex-1 border-l rounded-r-full btn-redo hover:bg-blue-50">
          <button
            class="w-full py-4 text-blue-400 rounded-r-full focus-visible:ring-2 focus-visible:ring-blue-400 focus:outline-none"
            @click="redo">
            <span class="px-4">
              Redo
            </span>
            <fa-icon icon="redo" size="lg"/>
          </button>
        </div>
      </div>
      <modal-confirm-delete
        ref="modalConfirmDelete"
        @confirmed="scans=[]"/>
      <modal-confirm-save
        ref="modalConfirmSave"
        :items="scans"
        @submitted="submitScans"/>
      <div class="text-xs text-right text-white">v1.8.0</div>
    </div>
  </div>
</template>

<script>
import ModalConfirmDelete from './ModalConfirmDelete'
import ModalConfirmSave from './ModalConfirmSave'

export default {
  name: 'ScanForm',
  components: {
    ModalConfirmDelete,
    ModalConfirmSave,
  },
  inject: ['toast'],
  emits: ['sendSubmit'],
  data () {
    return {
      username: 'Kasir',
      scans: [],
      newId: 0,
      textScan: '',
      undoList: [],
    }
  },
  computed: {
    form () {
      return {
        username: this.username,
        items: this.scans,
      }
    },
  },
  watch: {
    scans: {
      handler () {
        localStorage.setItem('items', JSON.stringify(this.scans))
      },
      deep: true,
    },
  },
  mounted () {
    this.getItemsFromLocalStorage()
  },
  methods: {
    enterCode () {
      if (this.textScan) {
        this.scans.push(this.textScan)
        this.textScan = ''
        this.undoList = []
      }
    },
    undo () {
      if (this.scans.length) {
        const code = this.scans.pop()
        this.undoList.push(code)
      }
    },
    redo () {
      if (this.undoList.length) {
        const code = this.undoList.pop()
        this.scans.push(code)
      }
    },
    submitScans (id) {
      let newSubmit = {
        'id': id,
        'username': this.username,
        'created_at': new Date(),
        'detail_count': this.scans.length,
      }
      this.scans = []
      this.toast('Data berhasil disimpan')
      this.$emit('sendSubmit', newSubmit)
    },
    deleteScans () {
      this.$refs.modalConfirmDelete.open()
    },
    saveScans () {
      if (this.scans.length) {
        this.$refs.modalConfirmSave.open()
      } else {
        this.toast('Data masih kosong')
      }
    },
    getItemsFromLocalStorage () {
      let items = JSON.parse(localStorage.getItem('items'))
      this.scans = items ?? []
    },
  },
}
</script>

<style lang="scss" scoped>
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #d4ebf7;
  color: #69B5E3;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -120px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>