<template>
  <div v-if="value.last_page > 1" class="p-4 mb-4 bg-white">
    <nav
      class="flex items-center justify-between"
      role="navigation"
      aria-label="Pagination Navigation">
      <div class="flex-grow-0 text-center">
        {{ paginationText }}
      </div>
      <div class="flex items-center justify-center flex-grow-0">
        <div>
          <button
            :disabled="value.current_page == 1"
            class="px-2 mr-4 text-white bg-blue-500 rounded disabled:bg-gray-400">
            <router-link
              v-if="value.current_page > 1"
              :to="prevLink">
              Kembali
            </router-link>
            <span
              v-else>
              Kembali
            </span>
          </button>
        </div>
        <div class="justify-center">
          {{ fmt.number(value.current_page) }}
        </div>
        <div class="ml-2 mr-4">
          /
        </div>
        <div class="justify-center">
          {{ fmt.number(value.last_page) }}
        </div>
        <div>
          <button
            :disabled="value.last_page == value.current_page"
            class="px-2 ml-4 text-white bg-blue-500 rounded disabled:bg-gray-400">
            <router-link
              v-if="value.last_page > value.current_page"
              :to="nextLink">
              Lanjut
            </router-link>
            <span
              v-else>
              Lanjut
            </span>
          </button>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
export default {
  name: 'Pagination',
  props: {
    value: {
      type: Object,
      required: true,
    },
  },
  emits: ['change'],
  data () {
    return {
      page: 1,
    }
  },
  computed: {
    route () {
      return this.$route
    },
    prevLink () {
      const page = this.page === 2 ? undefined : (this.page - 1)
      return { ...this.route, query: { ...this.route.query, page } }
    },
    nextLink () {
      return { ...this.route, query: { ...this.route.query, page: this.page + 1 } }
    },
    paginationText () {
      const { from, to, total } = this.value

      return `Menampilkan ${from}-${to} dari ${total} hasil.`
    },
    current_page () {
      return this.value.current_page
    },
    routePage () {
      return this.$route.query.page
    },
  },
  watch: {
    current_page: function (page) {
      this.page = page
    },
    routePage: function () {
      this.$emit('change', this.$route.query.page)
    },
  },
  methods: {
    changePage () {
      const page = this.page === 1 ? undefined : this.page
      this.$router.push({ ...this.route, query: { ...this.route.query, page } })
    },
  },
}
</script>

<style lang="scss">

</style>