<template>
  <div>
    <div class="pt-4 mx-12">
      <div class="flex flex-row h-20 p-5 text-blue-500 bg-blue-100 rounded">
        <div class="flex w-3/4">
          <div class="w-10 p-2.5 text-blue-100 bg-blue-500 rounded-full"><fa-icon icon="save" size="lg"/></div>
          <div class="p-2 text-lg">Data pada tanggal {{ fmt.dateLong(date) }}</div>
        </div>
        <div class="w-1/4">
          <router-link
            :to="{ name: 'laporan', params: { id_stockopname: stockopnameId }, query: { date: date }}">
            <button class="w-full h-10 text-white bg-blue-500 rounded focus:outline-none">
              Laporan
            </button>
          </router-link>
        </div>
      </div>
    </div>
    <div class="py-2 mx-12">
      <div class="flex h-24 px-8 py-4 my-4 bg-white rounded shadow-sm">
        <div class="w-3/4 pt-4">
          <router-link
            :to="{ name: 'riwayat'}"
            class="w-10 text-2xl text-blue-400 rounded btn-icon">
            <fa-icon icon="chevron-left" size="lg"/>
          </router-link>
          <span class="px-2 text-2xl">{{ totalSubmit }}</span>
          <span class="text-xs">  Data</span>
          <span class="pl-8 text-2xl">{{ totalPic }}</span>
          <span class="text-xs">  PIC</span>
        </div>
        <div class="w-1/4">
          <div>
            Cari Kode
            <fa-icon
              v-if="loadingFilter"
              class="text-blue-500"
              icon="sync-alt"
              size="sm"
              spin/>
          </div>
          <input
            ref="filter"
            v-model="filter"
            class="w-full bg-transparent border-2 focus:outline-none"
            maxlength="25"
          >
        </div>
      </div>
    </div>
    <div class="px-12">
      <pagination :value="paginate" @change="getData"/>
      <div class="flex flex-wrap -mx-4">
        <div v-for="stockopname in stockopnames" :key="stockopname.id" class="w-1/3 px-4 mb-8">
          <div class="px-2 -mb-4 overflow-visible">
            <div class="inline-block px-2 py-1 mx-6 text-white bg-blue-500 border-2 border-white rounded">
              {{ stockopname.username }}
            </div>
          </div>
          <div class="p-2 bg-white border rounded shadow-sm">
            <div class="flex mx-6 mt-4">
              <div class="w-1/2">
                <p class="text-xs text-gray-200">Submit pada</p>
                <p class="text-xl">{{ fmt.time(stockopname.created_at) }}</p>
              </div>
              <div class="w-1/2 text-right">
                <p class="text-xs text-gray-200">Jumlah data</p>
                <p class="text-xl">{{ fmt.number(stockopname.detail_count) }}</p>
              </div>
            </div>
            <div class="pb-6 mx-6 mt-4 text-right">
              <router-link
                :to="{ name: 'detail', params: { id_stockopname_submit: stockopname.id }}"
                class="flex text-base text-blue-500 rounded main-btn"
                @mouseover="hover = true; index = stockopname.id"
                @mouseleave="hover = false; index = 0">
                <div v-if="hover && index==stockopname.id" class="flex-1">
                  <button
                    class="p-2 text-center focus:outline-none">
                    Lihat Detail
                  </button>
                </div>
                <div class="flex-1">
                  <button
                    class="w-10 p-2 bg-blue-100 rounded bg-opacity-30 focus:outline-none">
                    <fa-icon icon="search" size="lg"/>
                  </button>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Pagination from '../../components/Pagination'
export default {
  name: 'RiwayatDetail',
  components: {
    Pagination,
  },
  inject: ['toast'],
  props: {
    newStockopname: {
      required: true,
      type: Object,
    },
  },
  data () {
    return {
      totalSubmit: 0,
      totalPic: 0,
      stockopnames: [],
      hover: false,
      index: 0,
      date: new Date(),
      stockopnameId: 0,
      paginate: {},
      filter: '',
      debounceTimeout: null,
      loadingFilter: false,
    }
  },
  watch: {
    filter () {
      clearTimeout(this.debounceTimeout)
      if (this.filter.length > 2 || this.filter.length == 0) {
        this.debounceTimeout = setTimeout(() => {
          this.loadingFilter = true
          this.getData(this.$route.query.page ?? 1)
        }, 500)
      }
    },
  },
  mounted () {
    this.getData(this.$route.query.page ?? 1)
  },
  methods: {
    getData (page) {
      this.stockopnameId = this.$route.params.id_stockopname
      this.api.GET('/stockopname/' + this.stockopnameId + '?page=' + page + '&filter=' + this.filter)
        .then(response => {
          this.stockopnames = response.data
          this.paginate = response.meta
          this.loadingFilter = false
          if (this.stockopnames.length > 0) {
            this.totalPic = this.stockopnames.length
            this.totalSubmit = 0
            this.stockopnames.forEach(element => {
              this.totalSubmit += element.detail_count
            })
          }
        })
        .catch(error => {
          console.log(error)
          this.errorMessage = error.response.status
          if (error.response.status == 422) {
            this.errorMessage += (': Terdapat kesalahan pada data yang anda kirim')
          } else if (error.response.status == 404) {
            this.errorMessage += (': IP yang anda masukkan salah')
          } else if (error.response.status == 500) {
            this.errorMessage += (': Terjadi kesalahan pada server. Silahkan hubungi Gradin untuk info lebih lanjut')
          } else {
            this.errorMessage += (': Silahkan hubungi Gradin untuk info lebih lanjut')
          }
        })
      this.date = this.$route.query.date
    },
  },
}
</script>

<style lang="scss" scoped>
.main-btn:hover {
  width: 100%;
  --tw-bg-opacity: 0.3;
  background-color: rgba(184, 220, 242, var(--tw-bg-opacity));
}
.border {
  border-color: rgba(182, 185, 188, 0.1);
}
</style>