<template>
  <div class="flex">
    <div class="flex-1 pr-96">
      <router-view :new-stockopname="newStockopname"/>
    </div>
    <div class="fixed top-0 right-0 h-screen w-96">
      <div class="absolute inset-0 from-blue-400 to-blue-100 bg-gradient-to-bl">
        <header class="w-full px-4 pt-4 header">
          <nav class="flex header__nav">
            <div class="flex-1 text-white">
              <div class="text-xs">Mobile App</div>
              <div class="mb-1">opname.rainboutique.net</div>
              <div class="text-xs">Ip Address</div>
              <div class="">{{ ip_address }}</div>
            </div>
            <div class="pt-4 text-right">
              <ul class="header__navbar">
                <li class="header__item">
                  <a href="#" class="header__link">
                    <transition name="slide-fade">
                      <!-- Header Navigation Menu Icons -->
                      <button
                        v-if="showMenuDropdown"
                        key="on"
                        class="text-white header--button"
                        @click="closeMenu">
                        <fa-icon icon="times" size="3x"/>
                      </button>
                      <button
                        v-else
                        key="off"
                        ref="button_menu"
                        class="text-white header--button"
                        @click="openMenu">
                        <fa-icon icon="ellipsis-v" size="3x"/>
                      </button>
                    </transition>
                  </a>
                  <!-- Dropdown Menu -->
                  <transition name="dropdown" tabindex="0">
                    <div
                      v-if="showMenuDropdown"
                      ref="menu"
                      class="z-20 shadow-lg dropdown__menu focus:outline-none"
                      :class="{ active: showMenuDropdown }"
                      @blur="closeMenu">
                      <ul class="dropdown__menu-nav">
                        <li class="dropdown__menu-item">
                          <router-link :to="{ name: 'home'}" class="dropdown__menu-link" title="Beranda">
                            <fa-icon icon="home" size="lg"/>
                            <div class="dropdown__menu-text">Beranda</div>
                          </router-link>
                        </li>
                        <li class="dropdown__menu-item">
                          <router-link :to="{ name: 'riwayat'}" class="dropdown__menu-link" title="Riwayat">
                            <fa-icon icon="history" size="lg"/>
                            <div class="dropdown__menu-text">Riwayat</div>
                          </router-link>
                        </li>
                        <hr class="h-0 my-6 border-0 border-t">
                        <li class="dropdown__menu-item">
                          <router-link :to="{ name: 'update'}" class="dropdown__menu-link" title="Update">
                            <fa-icon icon="sync-alt" size="lg"/>
                            <div class="dropdown__menu-text">Update</div>
                          </router-link>
                        </li>
                      </ul>
                    </div>
                  </transition>
                </li>
              </ul>
            </div>
          </nav>
        </header>
        <div class="absolute inset-x-0 bottom-0 top-24">
          <scan-form :screen-height="false" @sendSubmit="updateHome" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ScanForm from './ScanForm'
export default {
  name: 'Dashboard',
  components: {
    ScanForm,
  },
  inject: ['toast'],
  data () {
    return {
      showMenuDropdown: false,
      link_scan: '',
      ip_address: '',
      newStockopname: {},
    }
  },
  async mounted () {
    let [ip, port] = document.head.querySelector('[property~=ip_address][content]').content.split(':')
    this.link_scan = 'http://opname.rainboutique.net?ip=' + ip + '&port=' + port
    this.ip_address = ip
  },
  methods: {
    openMenu () {
      this.showMenuDropdown = true
      this.$nextTick(function () {
        this.$refs.menu.focus()
      })
    },
    closeMenu () {
      this.showMenuDropdown = false
    },
    updateHome (data) {
      if (this.$route.name == 'home') {
        this.newStockopname = data
      }
    },
  },
}
</script>

<style lang="scss" scoped>
:root {
  --font-primary: 'Open Sans', sans-serif;
  --color-gray: #dadce0;
}

// Global

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-primary);
  overflow: hidden;
}

// Header Menu

.header {
  &__nav {
    position: relative;
  }
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__item {
    padding: 1rem;
  }
  &--icon {
    width: 3rem;
    height: 3rem;
  }
  &--button {
    top: 1rem;
    right: 0rem;
    position: absolute;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    &:focus {
      outline: 0;
    }
  }
}

// Dropdown Menu

.dropdown__menu {
  top: 100%;
  right: 0;
  position: absolute;
  z-index: 10;
  min-width: 300px;
  margin-top: 1rem;
  overflow-y: auto;
  padding: 1rem 1rem 1rem 0rem;
  border-radius: 12px;
  background-color: white;
  border: 1px solid var(--color-gray);
  background-clip: padding-box;
  &-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    padding: 0.8rem 0 0.8rem 2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0 50px 50px 0;
    &:hover {
      --tw-bg-opacity: 1;
      color: black;
      background-color: rgba(131, 194, 232, var(--tw-bg-opacity));
    }
  }
  &-svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  &-text {
    font-weight: 300;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

// Animation Menu Icon

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s;
}
.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0;
}
.slide-fade-enter {
  transform: translateX(31px);
}
.slide-fade-leave-active {
  transform: translateX(-31px);
}

// Dropdown Menu Animation

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.3s;
}
.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>