<template>
  <div class="fixed top-0 left-0 z-10 flex flex-col h-screen w-96">
    <div class="py-4 ml-12">
      <div class="px-2 -mb-4 overflow-visible">
        <div class="inline-block px-2 py-1 mx-6 text-white bg-blue-300 border-2 border-white rounded">
          <template v-if="!editPIC">
            {{ username }}
            <button @click="editPIC = true">
              <fa-icon icon="pencil-alt" />
            </button>
          </template>
          <template v-else>
            <input
              ref="textUsername"
              v-model="username"
              class="bg-transparent focus:outline-none"
              :autofocus="editPIC"
              :maxlength="maxUsername"
              :minlength="minUsername"
              @blur="editPIC = false"
              @keydown.enter="editPIC = false"
              @keydown.esc="editPIC = false"
            >
          </template>
        </div>
      </div>
      <div class="p-2 bg-white border rounded">
        <div class="flex mx-6 mt-4">
          <div class="w-1/2">
            <p class="text-xs text-gray-300">Submit pada</p>
            <p class="text-xl">{{ fmt.time(stockopname.created_at) }}</p>
          </div>
          <div class="w-1/2 text-right">
            <p class="text-xs text-gray-300">Jumlah data</p>
            <p class="text-xl">{{ fmt.number(countDetail) }}</p>
          </div>
        </div>
        <div class="flex pb-6 mx-6 mt-4">
          <!-- <a
            href="#"
            class="flex text-base text-blue-500 rounded main-btn"
            @click="$router.go(-1)"
            @mouseover="hover = true"
            @mouseleave="hover = false">
            <div class="flex-1">
              <button
                class="w-10 p-2 bg-blue-100 rounded bg-opacity-30 focus:outline-none">
                <fa-icon icon="chevron-left" size="lg"/>
              </button>
            </div>
            <div v-if="hover" class="flex-1">
              <button
                class="p-2 focus:outline-none">
                Kembali
              </button>
            </div>
          </a> -->
          <button
            class="w-full h-10 mr-2 text-white bg-blue-500 rounded disabled:bg-gray-400 focus:outline-none"
            @click="$router.go(-1)">
            Kembali
          </button>
          <button
            class="w-full h-10 ml-2 text-white bg-red-500 rounded disabled:bg-gray-400 focus:outline-none"
            @click="deleteSubmitConfirm()">
            Hapus
          </button>
        </div>
      </div>
    </div>
    <template v-if="updated">
      <div class="py-4 ml-12">
        <div class="relative p-2 text-blue-500 bg-blue-100 rounded">
          <div class="text-left">
            Data berhasil diubah.
            <template v-if="stockopname.stockopname_id > 0">
              Lakukan hitung ulang pada
              <button class="px-2 text-white bg-blue-500 rounded">
                <router-link
                  :to="{ name: 'laporan', params: { id_stockopname: stockopname.stockopname_id } }"
                  class="text-lg">
                  halaman laporan
                </router-link>
              </button>
              untuk menghitung ulang laporan stok opname
            </template>
          </div>
          <button class="absolute top-2 right-2 focus:outline-none" @click="updated = false" >
            <fa-layers>
              <fa-icon
                class="text-blue-500"
                icon="circle"
                size="sm"/>
              <fa-icon
                class="text-blue-100"
                icon="times"
                size="xs"/>
            </fa-layers>
          </button>
        </div>
      </div>
    </template>
  </div>
  <div class="relative flex flex-col w-full h-screen max-h-full pl-96">
    <div class="flex flex-initial"></div>
    <div class="flex-auto py-8 mx-12">
      <div class="flex flex-col min-h-full p-4 mt-1 bg-white border rounded">
        <div class="flex flex-col flex-auto overflow-auto">
          <table>
            <tr class="pl-2 ml-8">
              <td class="w-px px-1 text-right">No</td>
              <td class="px-4">Kode</td>
              <td class="px-4">Qty</td>
              <td v-if="canAction" class="px-4 text-center">Action</td>
            </tr>
            <tr v-for="(details, index) in stockopname.detail_grouped" :key="index" class="pl-2 ml-8">
              <td class="w-px px-1 text-right">{{ fmt.number(index+1) }}</td>
              <td class="px-4">{{ details.product_code }}</td>
              <td class="px-4">{{ details.count_product }}</td>
              <td v-if="canAction" class="px-4 py-1">
                <div class="flex flex-col">
                  <button
                    class="text-xs text-blue-500 focus-visible:ring-2 focus-visible:ring-white focus:outline-none"
                    :class="{'underline': editHover[index]}"
                    @mouseover="editHover[index] = true"
                    @mouseleave="editHover[index] = false"
                    @click="editDetailConfirm(index)">
                    Edit
                  </button>
                  <button
                    class="text-xs text-red-500 focus-visible:ring-2 focus-visible:ring-white focus:outline-none"
                    :class="{'underline': deleteHover[index]}"
                    @mouseover="deleteHover[index] = true"
                    @mouseleave="deleteHover[index] = false"
                    @click="deleteDetailConfirm(index)">
                    Hapus
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="flex-initial h-4"></div>
  </div>
  <modal-delete-submit
    ref="modalDeleteSubmit"
    @confirmed="deleteSubmit"/>
  <modal-delete-detail
    ref="modalDeleteDetail"
    @confirmed="deleteDetail"/>
  <modal-edit-detail
    ref="modalEditDetail"
    :detail="detail"
    @submitted="updateData"/>
</template>

<script>
import ModalDeleteDetail from './ModalConfirmDelete'
import ModalDeleteSubmit from './ModalConfirmDelete'
import ModalEditDetail from './ModalEditDetail'
export default {
  name: 'Detail',
  components: {
    ModalDeleteDetail,
    ModalEditDetail,
    ModalDeleteSubmit,
  },
  inject: ['toast'],
  props: {
    newStockopname: {
      required: true,
      type: Object,
    },
  },
  data () {
    return {
      hover: false,
      editHover: [],
      deleteHover: [],
      stockopname: [],
      countDetail: 0,
      username: '',
      editPIC: false,
      maxUsername: 15,
      minUsername: 3,
      indexDetail: 0,
      productCode: '',
      canAction: false,
      qty: 0,
      updated: false,
    }
  },
  computed: {
    formDelete () {
      return {
        stockopname_submit_id: this.$route.params.id_stockopname_submit,
        product_code: this.productCode,
      }
    },
    formUsername () {
      return {
        username: this.username,
      }
    },
    detail () {
      return {
        stockopnameId: this.$route.params.id_stockopname_submit,
        productCode: this.productCode,
        qty: this.qty,
      }
    },
  },
  watch: {
    editPIC (editing) {
      if (editing) {
        this.$nextTick(() => {
          this.$refs.textUsername.select()
        })
      } else {
        this.api.PUT('/stockopname_submit/' + this.$route.params.id_stockopname_submit, this.formUsername)
          .then(() => {
          })
          .catch(error => {
            console.log(error)
            this.errorMessage = error.response.status
            if (error.response.status == 422) {
              this.errorMessage += (': Terdapat kesalahan pada data yang anda kirim')
            } else if (error.response.status == 404) {
              this.errorMessage += (': IP yang anda masukkan salah')
            } else if (error.response.status == 500) {
              this.errorMessage += (': Terjadi kesalahan pada server. Silahkan hubungi Gradin untuk info lebih lanjut')
            } else {
              this.errorMessage += (': Silahkan hubungi Gradin untuk info lebih lanjut')
            }
          })
      }
    },
  },
  mounted () {
    this.getData()
  },
  methods: {
    getData () {
      this.api.GET('/stockopname_submit/' + this.$route.params.id_stockopname_submit)
        .then(response => {
          this.stockopname = response.data[0]
          this.username = this.stockopname.username
          this.countDetail = 0
          const config = {
            month: 'numeric',
            day: 'numeric',
            year: 'numeric',
          }
          this.canAction =
            new Date(this.stockopname.created_at).toLocaleDateString('id-id', config) ===
            new Date().toLocaleDateString('id-id', config)
          this.stockopname.detail_grouped.forEach(element => {
            this.countDetail += element.count_product
            this.editHover.push(false)
            this.deleteHover.push(false)
          })
        })
        .catch(error => {
          console.log(error)
          this.errorMessage = error.response.status
          if (error.response.status == 422) {
            this.errorMessage += (': Terdapat kesalahan pada data yang anda kirim')
          } else if (error.response.status == 404) {
            this.errorMessage += (': IP yang anda masukkan salah')
          } else if (error.response.status == 500) {
            this.errorMessage += (': Terjadi kesalahan pada server. Silahkan hubungi Gradin untuk info lebih lanjut')
          } else {
            this.errorMessage += (': Silahkan hubungi Gradin untuk info lebih lanjut')
          }
        })
    },
    editDetailConfirm (index) {
      this.indexDetail = index
      this.productCode = this.stockopname.detail_grouped[index].product_code
      this.qty = this.stockopname.detail_grouped[index].count_product
      this.$refs.modalEditDetail.open()
    },
    deleteDetailConfirm (index) {
      this.indexDetail = index
      this.productCode = this.stockopname.detail_grouped[index].product_code
      this.qty = this.stockopname.detail_grouped[index].count_product
      this.$refs.modalDeleteDetail.open()
    },
    deleteSubmitConfirm () {
      this.$refs.modalDeleteSubmit.open()
    },
    deleteDetail () {
      this.api.POST('/stockopname_detail/destroy', this.formDelete)
        .then(() => {
          this.getData()
        })
        .catch(error => {
          console.log(error)
          this.errorMessage = error.response.status
          if (error.response.status == 422) {
            this.errorMessage += (': Terdapat kesalahan pada data yang anda kirim')
          } else if (error.response.status == 404) {
            this.errorMessage += (': IP yang anda masukkan salah')
          } else if (error.response.status == 500) {
            this.errorMessage += (': Terjadi kesalahan pada server. Silahkan hubungi Gradin untuk info lebih lanjut')
          } else {
            this.errorMessage += (': Silahkan hubungi Gradin untuk info lebih lanjut')
          }
        })
    },
    deleteSubmit () {
      this.api.DELETE('/stockopname_submit/' + this.$route.params.id_stockopname_submit)
        .then(() => {
          this.$router.go(-1)
        })
        .catch(error => {
          console.log(error)
          this.errorMessage = error.response.status
          if (error.response.status == 422) {
            this.errorMessage += (': Terdapat kesalahan pada data yang anda kirim')
          } else if (error.response.status == 404) {
            this.errorMessage += (': IP yang anda masukkan salah')
          } else if (error.response.status == 500) {
            this.errorMessage += (': Terjadi kesalahan pada server. Silahkan hubungi Gradin untuk info lebih lanjut')
          } else {
            this.errorMessage += (': Silahkan hubungi Gradin untuk info lebih lanjut')
          }
        })
    },
    updateData () {
      this.updated = true
      this.getData()
    },
  },
}
</script>

<style lang="scss" scoped>
.main-btn:hover {
  width: 100%;
  --tw-bg-opacity: 0.3;
  background-color: rgba(184, 220, 242, var(--tw-bg-opacity));
  text-align: left;
}
</style>