<template>
  <modal ref="modal">
    <template #header>
      <div class="relative z-20 inline-block p-4 mx-4 bg-blue-300 border-4 border-white rounded-lg">
        <h2 class="font-bold text-white">
          <fa-icon icon="paper-plane" class="mr-2"/> Kirim Data
        </h2>
      </div>
    </template>
    <template #content>
      <div class="px-8 pt-12 pb-4 -mt-8 bg-white rounded-lg">
        <form class="mb-4" @submit.prevent="confirmSave">
          <div class="flex flex-row">
            <div class="w-3/4 mb-4 mr-1">
              <label>Kode Produk</label>
              <input v-model="productCode" class="block w-full px-4 py-2 border border-gray-100 rounded">
            </div>
            <div class="w-1/4 mb-4 ml-1">
              <label>Qty</label>
              <input v-model="qty" class="block w-full px-4 py-2 border border-gray-100 rounded">
            </div>
          </div>
          <div class="flex -mx-2">
            <div class="w-1/2 px-2">
              <button class="w-full py-2 text-white bg-blue-500 border-gray-500 rounded disabled:bg-gray-400">
                Save
              </button>
            </div>
            <div class="w-1/2 px-2">
              <button
                type="button"
                class="w-full py-2 text-gray-200 bg-gray-100 border-gray-100 rounded disabled:bg-gray-400 bg-opacity-30"
                @click="close">
                Batal
              </button>
            </div>
          </div>
        </form>
        <div v-if="errorMessage" class="error">
          <div class="flex p-2 text-red-500 bg-red-100 bg-opacity-50 rounded">
            <div class="w-1/12"><fa-icon icon="times-circle" size="lg"/></div>
            <div>{{ errorMessage }}</div>
          </div>
        </div>
      </div>
    </template>
  </modal>
</template>

<script>
import modal from '../../components/AppModal'
export default {
  name: 'ModalConfirmDelete',
  components: {
    modal,
  },
  props: {
    detail: {
      required: true,
      type: Object,
    },
  },
  emits: ['submitted', 'closed'],
  data () {
    return {
      stockopnameId: 0,
      productCode: '',
      qty: 0,
      error: false,
      errorMessage: '',
    }
  },
  computed: {
    form () {
      return {
        stockopname_submit_id: this.stockopnameId,
        product_code: this.detail.productCode,
        new_product_code: this.productCode,
        qty: this.qty,
      }
    },
  },
  watch: {
    detail () {
      this.stockopnameId = this.detail.stockopnameId
      this.productCode = this.detail.productCode
      this.qty = this.detail.qty
    },
  },
  methods: {
    open () {
      this.$refs.modal.open()
    },
    close () {
      this.errorMessage = ''
      this.$emit('closed')
      this.$refs.modal.close()
    },
    confirmSave () {
      this.api.POST('/stockopname_detail', this.form)
        .then(response => {
          this.$emit('submitted', response)
          this.close()
        })
        .catch(error => {
          console.log(error)
          this.errorMessage = error.response.status
          if (error.response.status == 422) {
            this.errorMessage += (': Terdapat kesalahan pada data yang anda kirim')
          } else if (error.response.status == 404) {
            this.errorMessage += (': IP yang anda masukkan salah')
          } else if (error.response.status == 500) {
            this.errorMessage += (': Terjadi kesalahan pada server. Silahkan hubungi Gradin untuk info lebih lanjut')
          } else {
            this.errorMessage += (': Silahkan hubungi Gradin untuk info lebih lanjut')
          }
        })
    },
  },
}
</script>