<template>
  <div>
    <div class="pt-4 mx-12">
      <div class="flex h-20 p-5 text-blue-500 bg-blue-100 rounded">
        <div class="w-10 px-3 py-2.5 text-blue-100 bg-blue-500 rounded-full"><fa-icon icon="file-alt" size="lg"/></div>
        <div class="p-2 text-lg">Laporan Stok Opname pada tanggal {{ fmt.dateLong(dateReport) }}</div>
      </div>
    </div>
    <div class="py-2 mx-12">
      <div class="flex h-24 p-8 my-4 bg-white rounded shadow-sm">
        <div class="flex flex-row w-1/2">
          <router-link
            :to="{ name: 'riwayat_detail', params: { id_stockopname: stockopnameId }, query: { date: dateReport }}"
            class="w-10 text-2xl text-blue-400 rounded btn-icon">
            <fa-icon icon="chevron-left" size="lg"/>
          </router-link>
          <div class="flex flex-col w-1/5">
            <span class="text-xs">Kurang</span>
            <span class="text-xs">Terlewat</span>
          </div>
          <div class="flex flex-col w-1/5">
            <span class="text-xs">= {{ countLess }}</span>
            <span class="text-xs">= {{ countMissed }}</span>
          </div>
          <div class="flex flex-col w-1/5">
            <span class="text-xs">Lebih</span>
            <span class="text-xs">Tidak Terdaftar</span>
          </div>
          <div class="flex flex-col w-1/5">
            <span class="text-xs">= {{ countMore }}</span>
            <span class="text-xs">= {{ countNew }}</span>
          </div>
        </div>
        <div class="flex w-1/2 text-right">
          <div class="w-1/2 text-center">
            <button
              class="w-4/5 h-10 text-white bg-blue-500 rounded focus:outline-none disabled:bg-gray-400"
              title="Klik untuk menghitung ulang laporan stok opname"
              :disabled="!canUpdateReport"
              @click="update">
              Hitung Ulang
            </button>
          </div>
          <div class="w-1/2 text-center">
            <button
              class="w-4/5 h-10 text-white bg-green-500 rounded focus:outline-none"
              title="Klik untuk mencetak laporan stok opname"
              @click="print(stockopnameId)">
              Cetak
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="px-12 mb-16">
      <div
        v-for="(category, indexCategory) in categories"
        :key="indexCategory"
        class="mb-4">
        <h2>{{ category.title }}</h2>
        <table style="width:100%">
          <tr
            class="text-white"
            :class="{
              'bg-red-500': category.name=='less',
              'bg-green-500': category.name=='more',
              'bg-yellow-500': category.name=='missed',
              'bg-blue-500': category.name=='new'}">
            <th class="w-1/12 whitespace-nowrap">No</th>
            <th class="text-left whitespace-nowrap" :class="{'w-2/12': indexCategory<2, 'w-4/12': indexCategory>=2}">
              Kode Barang
              <button
                v-if="sortState[indexCategory].code=='normal'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'code', 'up')"
              >
                <fa-icon icon="sort" size="sm" />
              </button>
              <button
                v-if="sortState[indexCategory].code=='up'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'code', 'down')
                ">
                <fa-icon icon="sort-up" size="sm" />
              </button>
              <button
                v-if="sortState[indexCategory].code=='down'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'code', 'normal')"
              >
                <fa-icon icon="sort-down" size="sm" />
              </button>
            </th>
            <th v-if="indexCategory!=2" class="w-1/12 text-right whitespace-nowrap">
              Qty
              <button
                v-if="sortState[indexCategory].qty=='normal'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'qty', 'up')"
              >
                <fa-icon icon="sort" size="sm" />
              </button>
              <button
                v-if="sortState[indexCategory].qty=='up'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'qty', 'down')
                ">
                <fa-icon icon="sort-up" size="sm" />
              </button>
              <button
                v-if="sortState[indexCategory].qty=='down'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'qty', 'normal')"
              >
                <fa-icon icon="sort-down" size="sm" />
              </button>
            </th>
            <th v-if="indexCategory!=3" class="w-1/12 text-right whitespace-nowrap">
              Stock
              <button
                v-if="sortState[indexCategory].stock=='normal'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'stock', 'up')"
              >
                <fa-icon icon="sort" size="sm" />
              </button>
              <button
                v-if="sortState[indexCategory].stock=='up'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'stock', 'down')
                ">
                <fa-icon icon="sort-up" size="sm" />
              </button>
              <button
                v-if="sortState[indexCategory].stock=='down'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'stock', 'normal')"
              >
                <fa-icon icon="sort-down" size="sm" />
              </button>
            </th>
            <th v-if="indexCategory<2" class="w-1/12 text-right whitespace-nowrap">
              Selisih
              <button
                v-if="sortState[indexCategory].diff=='normal'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'diff', 'up')"
              >
                <fa-icon icon="sort" size="sm" />
              </button>
              <button
                v-if="sortState[indexCategory].diff=='up'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'diff', 'down')
                ">
                <fa-icon icon="sort-up" size="sm" />
              </button>
              <button
                v-if="sortState[indexCategory].diff=='down'"
                class="focus:outline-none"
                @click="sort(indexCategory, 'diff', 'normal')"
              >
                <fa-icon icon="sort-down" size="sm" />
              </button>
            </th>
            <th class="w-6/12 text-center whitespace-nowrap">Keterangan</th>
          </tr>
          <template v-if="category.sortedResult.length">
            <tr
              v-for="(sortedData, indexSortedData) in category.sortedResult"
              :key="indexSortedData"
              :class="{
                'bg-red-50': category.name=='less',
                'bg-green-50': category.name=='more',
                'bg-yellow-50': category.name=='missed',
                'bg-blue-50': category.name=='new'}">
              <td class="text-center">{{ indexSortedData + 1 }}</td>
              <td>
                <template v-if="indexCategory==3">
                  <template v-if="!editProductCode[sortedData.id]">
                    {{ sortedData.product_code }}
                    <template v-if="canUpdateReport">
                      <button class="focus:outline-none" @click="updateProductCode(sortedData.id, true, sortedData.product_code)">
                        <fa-icon icon="pencil-alt" size="sm" />
                      </button>
                    </template>
                  </template>
                  <template v-else>
                    <input
                      :ref="'textProductCode' + sortedData.id"
                      v-model="newProductCode"
                      class="w-full bg-transparent focus:outline-none"
                      maxlength="255"
                      @blur="updateProductCode(sortedData.id, false)"
                      @keydown.enter="updateProductCode(sortedData.id, false)"
                      @keydown.esc="updateProductCode(sortedData.id, false)"
                    >
                  </template>
                </template>
                <template v-else>
                  {{ sortedData.product_code }}
                </template>
              </td>
              <td v-if="indexCategory!=2" class="text-right">{{ sortedData.stockopname }}</td>
              <td v-if="indexCategory!=3" class="text-right">{{ sortedData.stockdb }}</td>
              <td v-if="indexCategory==0" class="text-right">{{ sortedData.stockopname - sortedData.stockdb }}</td>
              <td v-if="indexCategory==1" class="text-right">+ {{ sortedData.stockopname - sortedData.stockdb }}</td>
              <td>
                <template v-if="!editNote[sortedData.id]">
                  {{ sortedData.note }}
                  <button class="focus:outline-none" @click="updateNote(sortedData.id, true, sortedData.note)">
                    <fa-icon icon="pencil-alt" size="sm" />
                  </button>
                </template>
                <template v-else>
                  <input
                    :ref="'textNote' + sortedData.id"
                    v-model="note"
                    class="w-full bg-transparent focus:outline-none"
                    maxlength="255"
                    @blur="updateNote(sortedData.id, false)"
                    @keydown.enter="updateNote(sortedData.id, false)"
                    @keydown.esc="updateNote(sortedData.id, false)"
                  >
                </template>
              </td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <td
                :class="{
                  'bg-red-50': category.name=='less',
                  'bg-green-50': category.name=='more',
                  'bg-yellow-50': category.name=='missed',
                  'bg-blue-50': category.name=='new'}"
                :colspan="category.colspan">
                Tidak ada data
              </td>
            </tr>
          </template>
        </table>
      </div>
    </div>
  </div>
  <modal-loading-report
    ref="modalLoadingReport"/>
</template>

<script>
import ModalLoadingReport from './ModalLoadingReport'
export default {
  name: 'Report',
  components: {
    ModalLoadingReport,
  },
  inject: ['toast'],
  props: {
    newStockopname: {
      required: true,
      type: Object,
    },
  },
  data () {
    return {
      hover: false,
      dateReport: new Date(),
      stockopnameId: 0,
      categories: [],
      editHover: [],
      compareId: 0,
      countLess: 0,
      countMore: 0,
      countMissed: 0,
      countNew: 0,
      note: '',
      oldProductCode: '',
      newProductCode: '',
      editNote: [],
      editProductCode: [],
      state: false,
      updated: '',
      canUpdateReport: false,
      sortState: [
        {
          name: 'less',
          code: 'normal',
          qty: 'normal',
          stock: 'normal',
          diff: 'normal',
        },
        {
          name: 'more',
          code: 'normal',
          qty: 'normal',
          stock: 'normal',
          diff: 'normal',
        },
        {
          name: 'missed',
          code: 'normal',
          qty: 'normal',
          stock: 'normal',
          diff: 'normal',
        },
        {
          name: 'new',
          code: 'normal',
          qty: 'normal',
          stock: 'normal',
          diff: 'normal',
        },
      ],
    }
  },
  computed: {
    form () {
      return {
        oldProductCode: this.oldProductCode,
        newProductCode: this.newProductCode,
        note: this.note,
      }
    },
  },
  watch: {
    state (editing) {
      if (editing) {
        this.$nextTick(() => {
          switch (this.updated) {
          case 'note':
            this.$refs['textNote' + this.compareId].select()
            break
          case 'code':
            this.$refs['textProductCode' + this.compareId].select()
            break
          }
        })
      } else {
        this.api.PUT('/stockopname_compare/' + this.compareId, this.form)
          .then(() => {
            if (this.updated == 'note') {
              this.getData()
            } else {
              this.update()
            }
            this.note = ''
            this.newProductCode = ''
            this.oldProductCode = ''
            this.updated = ''
          })
          .catch(error => {
            console.log(error)
            this.errorMessage = error.response.status
            if (error.response.status == 422) {
              this.errorMessage += (': Terdapat kesalahan pada data yang anda kirim')
            } else if (error.response.status == 404) {
              this.errorMessage += (': IP yang anda masukkan salah')
            } else if (error.response.status == 500) {
              this.errorMessage += (': Terjadi kesalahan pada server. Silahkan hubungi Gradin untuk info lebih lanjut')
            } else {
              this.errorMessage += (': Silahkan hubungi Gradin untuk info lebih lanjut')
            }
          })
      }
    },
  },
  mounted () {
    this.stockopnameId = this.$route.params.id_stockopname
    const config = {
      month: 'numeric',
      day: 'numeric',
      year: 'numeric',
    }
    this.canUpdateReport =
      new Date(this.dateReport).toLocaleDateString('id-id', config) ===
      new Date().toLocaleDateString('id-id', config)
    this.getData()
  },
  methods: {
    getData (state = '/view') {
      this.$refs.modalLoadingReport.open()
      this.api.GET('/stockopname_compare/report/' + this.stockopnameId + state)
        .then(response => {
          this.categories = response.categories
          this.countLess = this.categories[0].sortedResult.length
          this.countMore = this.categories[1].sortedResult.length
          this.countMissed = this.categories[2].sortedResult.length
          this.countNew = this.categories[3].sortedResult.length
          this.categories.forEach(category => {
            category.sortedResult.forEach(result => {
              this.editNote[result.id] = false
              this.editProductCode[result.id] = false
            })
          })
          this.dateReport = this.stockopname.created_at
        })
        .catch(error => {
          console.log(error)
          this.errorMessage = error.response.status
          if (error.response.status == 422) {
            this.errorMessage += (': Terdapat kesalahan pada data yang anda kirim')
          } else if (error.response.status == 404) {
            this.errorMessage += (': IP yang anda masukkan salah')
          } else if (error.response.status == 500) {
            this.errorMessage += (': Terjadi kesalahan pada server. Silahkan hubungi Gradin untuk info lebih lanjut')
          } else {
            this.errorMessage += (': Silahkan hubungi Gradin untuk info lebih lanjut')
          }
        })
        .finally(() =>{
          this.$refs.modalLoadingReport.close()
        })
    },
    update () {
      this.getData('/update')
    },
    print (id) {
      let sorter = ''
      let first = false
      this.sortState.forEach(element => {
        first ? sorter += ('&' + element.name + '=') : sorter += (element.name + '=')
        element.code != 'normal' ? // sort report based on code
          (sorter += ('code+' + element.code)) :
          (element.qty != 'normal' ? // sort report based on stockopname
            (sorter += ('qty+' + element.qty)) :
            (element.stock != 'normal' ? // sort report based on stockdb
              (sorter += ('stock+' + element.stock)) :
              (element.diff != 'normal' ? // sort report based on difference of stockopname and sotckdb
                (sorter += ('diff+' + element.diff)) :
                (sorter += 'id+up')))) // sort report based on id, default sort
        first = true
      })
      window.open((window.location.origin + '/stockopname_compare/print/' + id + '/viewPdf?' + sorter), 'popup-1', 'resizable')
    },
    updateNote (id, state, note = '') {
      this.editNote[id] = state
      if (state) {
        this.note = note
      }
      this.changeState(id, state, 'note')
    },
    updateProductCode (id, state, oldCode = '') {
      this.editProductCode[id] = state
      if (state) {
        this.oldProductCode = oldCode
      }
      this.changeState(id, state, 'code')
    },
    changeState (id, state, updated) {
      this.compareId = id
      this.updated = updated
      this.state = state
    },
    sort (categoryIndex, sorter, direction) {
      this.normalizeSortDirection(categoryIndex)
      if (direction == 'normal') {
        this.categories[categoryIndex].sortedResult.sort((a, b) => (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0))
      } else {
        switch (sorter) {
        case 'code':
          this.sortState[categoryIndex].code = direction
          this.categories[categoryIndex].sortedResult.sort((a, b) =>
            direction == 'up' ?
              ((a.product_code > b.product_code) ? 1 : ((b.product_code > a.product_code) ? -1 : 0)) :
              ((a.product_code < b.product_code) ? 1 : ((b.product_code < a.product_code) ? -1 : 0)),
          )
          break
        case 'qty':
          this.sortState[categoryIndex].qty = direction
          this.categories[categoryIndex].sortedResult.sort((a, b) =>
            direction == 'up' ?
              ((a.stockopname > b.stockopname) ? 1 : ((b.stockopname > a.stockopname) ? -1 : 0)) :
              ((a.stockopname < b.stockopname) ? 1 : ((b.stockopname < a.stockopname) ? -1 : 0)),
          )
          break
        case 'stock':
          this.sortState[categoryIndex].stock = direction
          this.categories[categoryIndex].sortedResult.sort((a, b) =>
            direction == 'up' ?
              ((a.stockdb > b.stockdb) ? 1 : ((b.stockdb > a.stockdb) ? -1 : 0)) :
              ((a.stockdb < b.stockdb) ? 1 : ((b.stockdb < a.stockdb) ? -1 : 0)),
          )
          break
        case 'diff':
          this.sortState[categoryIndex].diff = direction
          this.categories[categoryIndex].sortedResult.sort((a, b) =>
            direction == 'up' ?
              ((Math.abs(a.stockopname - a.stockdb) > Math.abs(b.stockopname - b.stockdb)) ? 1 : ((Math.abs(b.stockopname - b.stockdb) > Math.abs(a.stockopname - a.stockdb)) ? -1 : 0)) :
              ((Math.abs(a.stockopname - a.stockdb) < Math.abs(b.stockopname - b.stockdb)) ? 1 : ((Math.abs(b.stockopname - b.stockdb) < Math.abs(a.stockopname - a.stockdb)) ? -1 : 0)),
          )
          break
        }
      }
    },
    normalizeSortDirection (categoryIndex) {
      this.sortState[categoryIndex].code = 'normal'
      this.sortState[categoryIndex].qty = 'normal'
      this.sortState[categoryIndex].stock = 'normal'
      this.sortState[categoryIndex].diff = 'normal'
    },
  },
}
</script>

<style lang="scss" scoped>
.main-btn:hover {
  width: 100%;
  --tw-bg-opacity: 0.3;
  background-color: rgba(184, 220, 242, var(--tw-bg-opacity));
}
.border {
  border-color: rgba(182, 185, 188, 0.1);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
  }

/* Create two equal columns that floats next to each other */
.column {
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>